# without . files
*
!/**/
!*.*

# Assembly files
*.s
*.O1-s

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
